.container {
  display: grid;
  grid-template-areas: "sidenav header"
                       "sidenav content";
  grid-template-columns: 15% 85%;
  grid-template-rows: 30px, auto;
}

.container > div.sidenav {
  grid-area: sidenav;
  width: 15%;
  grid-row: 1 / span 2;
}
.sidenav {
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden; 
    background-color: brown;
    padding-top: 20px;
    grid-area: "sidenav";

  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  

  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .container > div.header {
    grid-area: header;
    width: 85%;
  }

  .container > div.content {
    grid-area: content;
    width: 85%;
    padding: 2%;
  }


  .main {
    margin-left: 160px;
    padding: 0px 10px;
  }

  tr:nth-child(even) {
    background-color: #D6EEEE;
  }
 table#report {
    width: 100%;
 }


  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }