.container {
  display: grid;
  grid-template-areas: "sidenav header"
                       "sidenav content";
  grid-template-columns: 15% 85%;
  grid-template-rows: 30px, auto;
}

.container > div.sidenav {
  grid-area: sidenav;
  width: 15%;
  grid-row: 1 / span 2;
}

.loginBreak {
  width: 20vw;
  height: 4.5vh;
}

.loginBreak2 {
  width: 20vw;
  height: 3vh;
}

.index {
    flex-basis: 100%;
    height: 60vh;
    background-color:#ebf8e8;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10vh;
  }
.dontText, .dontText1 {
  font-family:Arial, Helvetica, sans-serif;
  color:#5a7b54;
  font-weight: bolder;
  font-size:calc(25px + 1.5vw);
  text-align:center;
  flex-shrink:2;
}

.dontText {
  margin-bottom:8vh;
}

.dontText1 {
  margin-top:8.5vh;
}

.rightSide {
  flex-basis:50%;
  display:flex;
  height:40vh;
  justify-content:center;
  align-items:center;
  align-content:flex-start;
  flex-wrap:wrap;
  padding:30px;
}

.titleHolder {
  flex-basis:15%;
  display:flex;
  height:9.4vh;
  align-items:center;
  text-justify:center;
  text-align:center;
}

.pageTitle {
  font-family:Arial, Helvetica, sans-serif;
  color:#5a7b54;
  font-weight: bolder;
  font-size:calc(18px + 1.12vw);
  text-align:center;
  flex-shrink:2;
  justify-self:center;
  align-self: center;
}

.sidenav {
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden; 
    background-color: brown;
    padding-top: 20px;
    grid-area: "sidenav";

  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  body {
    background-color:pink;
    display:flex;
    flex-wrap:wrap;
  }

  * {
    border-width: 0px;
    padding: 0px;
    margin: 0px;
  }

  .login_right {
    flex-basis:50%;
    height:80vh;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items: center;
  }

  .dropDown:hover {
    color:#a0c699;
  }

  .login_left {
    flex-basis: 50%;
    height:80vh;
    background-color:#ebf8e8;
    display:flex;
    justify-content:center;
    align-items: center;
  }
  .Event_Selection {
    flex-basis: 50%;
    background-color:#ebf8e8;
    display:flex;
    justify-content:center;
    align-items: center;
  }
  @media screen and (max-width: 800px) {
    .login_left, .login_right {
      flex-basis: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      height:50%;
    }
  }
  .buffer {
    flex-basis: 25%;
    display:flex;
    justify-content:center;
    align-items: center;
  }

  .head_line {
    height:0.60vh;
    flex-basis:100%;
    background-color:white;
  }

  .logo {
    margin-top: -30px;
    margin-right: 0.5vw;
  }

  .dropDown {
    color: #5a7b54;
    background-color:transparent;
    width: 10%;
    height: 3.5vh;
    text-indent:5px;
    font-size:calc(8px + 0.8vw);
    font-weight:bold;
    display:flex;
    justify-self:right;
    min-width:10vw;
  }

  .head1 {
    flex-basis:100%;
    height:100%;
    background-color:#ebf8e8;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
  }

  .headSpace {
    display:flex;
    flex-basis:65%;
    min-width: 20%;
    max-width:65%;
    flex-shrink: 1;
    height:9.4vh;
  }
  @media screen and (max-width: 800px) {
    .dropDown, .titleHolder {
      flex-basis: calc(30% - 205px); /* The width is 100%, when the viewport is 800px or smaller */
    }
    .head1 {
      height: 100%;
    }
    .headSpace {
      flex-basis: calc(20% - 205px);
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ebf8e8;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-style:solid;
    border-width:2px;
    border-color:white;
  }

  .dropdown-content:hover, .dropdown-content-1:hover {
    background-color:#f9fff8;
  }

  .dropdown-content-1 {
    display: none;
    background-color: #ebf8e8;
    position:absolute;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-style:solid;
    border-width:2px;
    border-color:white;
    margin-top:45px;
  }

  .dropdown-content a, .dropdown-content-1 a {
    color: #97b891;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
  }

  .show {display:block;}

  .dropdown-line {
    min-width: 160px;
    height:2px;
    background-color:white;
  }


  .formstyle {
    flex-basis:30%;
 /*   height:80vh; */
    justify-self:center;
    padding: 30px;
    height: 40vh;
    width: 22vw;
  }

  button, .button {
    background-color:#5a7b54;
    color: white;
    width: 22vw;
    height: 3.5vh;
    text-indent:5px;

  }

  .loginTitle {
    font-family:Arial, Helvetica, sans-serif;
    color:#5a7b54;
    font-weight: bolder;
    font-size:calc(20px + 1.25vw);
    text-align:center;
    margin-bottom:4vh;
  }

  input {
    width: 22vw;
    height: 4vh;
    text-indent:5px;
    background-color:white;
    margin-top:0.4vh;
  }

  label {
    font-family:Arial, Helvetica, sans-serif;
    color:#5a7b54;
    font-weight: bold;
  }

  .foot1 {
    flex-basis:100%;
    height:10vh;
    background-color:#5a7b54;
    text-align:center;
    align-items:center;
    justify-content:center;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    display:flex;
  }
  

  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .container > div.header {
    grid-area: header;
    width: 85%;
  }

  .container > div.content {
    grid-area: content;
    width: 85%;
    padding: 2%;
  }


  .main {
    margin-left: 160px;
    padding: 0px 10px;
    background-color:red;
  }

  tr:nth-child(even) {
    background-color: #D6EEEE;
  }
 table#report {
    width: 100%;
 }

 .deleteButton {
  background-color: red;
  width: fit-content;
  font-weight: bold;
 }
 td.deleteButton {
  width:1px;
 }
 td.ShowHide {
  width: 1px;
 }
 td.ShowHide > button {
  width: 100%;
 }

 .deleteButton {
  background-color: red;
  width: fit-content;
  font-weight: bold;
 }
 td.deleteButton {
  width:1px;
 }
 td.ShowHide {
  width: 1px;
 }
 td.ShowHide > button {
  width: 100%;
 }


  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  button#name_from {
    display:inline-block;
    transform: rotate(90deg);
    transition: transform 0.75s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    
  }

  .shown {
    background: none;
    border: none;
    opacity: 0;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    1000% {
      opacity: 0;
    }
  }

  .EventIdInput {
    /*display: flex;
    width: 20%;*/
    text-align: center;
    
  }
  .formstyle {
    display: flex;
  }

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}